/* .section { */
/*   padding-left: 30%; */
/*   padding-right: 30%; */
/* } */

#content {
  /* padding-top: 3%; */
}

.canvas_holder {
  /* border: 2px solid gray; */
  background-color: black;
  border-radius: 20px;
  padding: 20px;
}

.canvas {
  width: 100%;
}

/* #two_plot_container { */
/*   text-align: center; */
/*   display: grid; */
/*   grid-template-columns: repeat(2, 1fr); */
/*   width: 100%; /1* of container /* */
/*   /1* border: 1px solid blue; *1/ */
/* } */

.button_menu {
  /* text-align: center; */
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

/* .button_menu p { */
/* } */

.button {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif; /* ? */
  /* font-weight: bold; */
  font-size: 16px;
  color: white;
  height: 2em;
  background-color: black;
  border: 3px solid black;
  border-radius: 10000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  /* margin: 10px; */
}

#nr_of_bodies_textfield {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif; /* ? */
  font-size: 16px;
  color: white;
  height: 2em;
  background-color: black;
  border-radius: 10000px;
  border: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  /* margin: 0px; */
  padding: 0px;
}
