/* BASE */
/* ========================================================================= */

body {
  overflow-x: hidden; /* -> scrolling */
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

#header {
  font-size: 20px;
  font-weight: 690;
  width: 100%;
  height: 2em; /* needed? */
  /* display: flex; */
  text-align: right;
  padding: 0.15em;
  /* border: 1px solid green; */
}

#header_home {
  color: white;
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* margin-right: 5px; */
  /* border: 1px solid green; */
  border: 0px;
  outline: none;
  cursor: pointer;
}

#navbar {
}

#content {
  /* height: 95%; */
  /* margin-top: 15px; */
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 300px;
  padding-right: 300px;
  /* border: 1px solid green; */
}
@media only screen and (max-width: 1201px) {
  #content {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 751px) {
  #content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.section {
  background-color: #222222;
  border-radius: 20px; /* if changed: also change for navgrid_section? */
  border: 2px solid #555555;
  margin-bottom: 25px;
  text-align: center;
}

.canvas {
  width: 100%;
}

/* INDEX */
/* ========================================================================= */

.index {
}

#section_navgrid {
  background-color: #222222;
  border-radius: 20px; /* if changed: also change for normal section? */
  border: 2px solid #555555;
  margin-bottom: 20px; /* if changed: also change for .section*/
}

#navgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; /* TODO: Kati fragen */
  padding-bottom: 10px;
  /* align-items: center; */
}
@media only screen and (max-width: 751px) {
  #navgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.navgrid_section_title {
  width: 100%;
  text-align: center;
  font-weight: 690;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section_title {
  width: 100%;
  text-align: center;
  font-weight: 690;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navgrid_cell {
  width: 100%;
  height: 100%;
  background-color: #222222;
  border: 0px;
  outline: none;
}

.navgrid_thumbnail {
  background-color: black;
  border: 2px solid #222222;
  border-radius: 30px;
  /* make square (with :after) */
  width: 86%;
  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  /* transition (with :hover) */
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  outline: none;
}
.navgrid_thumbnail:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.navgrid_thumbnail:hover {
  border: 2px solid #555555;
  transform: scale(1.1);
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  cursor: pointer;
}
/* @media only screen and (max-width: 641px) { */
/*   .navgrid_thumbnail { */
/*     -webkit-filter: grayscale(0%); /1* Safari 6.0 - 9.0 *1/ */
/*     filter: grayscale(0%); */
/*   } */
/* } */

/* COMP PHYS / SIMULATIONS */
/* ========================================================================= */

.canvas_holder {
  width: 90%;
  border-radius: 20px; /* if changed: also change for navgrid_section? */
}

.canvas {
  border-radius: 20px; /* if changed: also change for navgrid_section? */
  width: 94%;
  height: 100%;
  margin: 3%;
}

#canvas_boids {
  background-color: black;
}

/* OLD */
/* ========================================================================= */

/* .section { */
/*   background-color: "#222222"; */
/*   border-radius: "20px"; */

/*   display: "grid"; */
/*   grid-template-columns: repeat(3, 1fr); */

/*   margin-left: "20px"; */
/*   margin-right: "20px"; */
/*   margin-top: "20px"; */
/*   margin-bottom: "20px"; */
/*   /1* paddingLeft: "10px", *1/ */
/*   /1* paddingRight: "10px", *1/ */
/*   /1* paddingTop: "10px", // TODO: Kati fragen *1/ */
/*   /1* paddingBottom: "10px", *1/ */
/*   /1* textAlignVertical: "center", *1/ */
/*   /1* textAlign: "center", *1/ */
/* } */

/* p { */
/*   color: "white"; */
/*   text-align: "center"; */
/*   /1* fontSize: "22px", *1/ */
/*   /1* height: "1em", *1/ */
/*   /1* margin: "10px", *1/ */
/* } */

/* .thumbnail { */
/*   /1* height: "900%", *1/ */
/*   /1* width: "100px", *1/ */
/*   /1* margin: "10px", *1/ */
/*   /1* padding: "0px", *1/ */
/*   /1* height: 2 * window.height, *1/ */
/*   /1* width: "100%", *1/ */
/*   /1* height: "100%", *1/ */
/*   height: "100px"; */
/*   flex: 1; */
/*   background-color: "black"; */
/*   border-radius: "30px"; */
/*   border: "1px solid green"; */
/* } */
