
Cargo.lock
target
pkg

__trash
__old

.DS_Store

__pycache__
.venv
env
venv

node_modules
dist
target
wasm-pack.log

creds
debug.py

*.aux
*.fdb_latexmk
*.fls
*.log
*.pyc
*.pyo
*.synctex.gz

.vim
.wiki

*_backup.*
*_old.*

*.pdf

*0.png
*1.png
*2.png
*3.png
*4.png
*5.png
*6.png


