[submodule "flask-server/maderxyz/chronos"]
	path = flask-server/maderxyz/chronos
	url = https://github.com/vincentmader/chronos
[submodule "flask-server/maderxyz/comp_phys"]
	path = flask-server/maderxyz/comp_phys
	url = https://github.com/vincentmader/comp_phys
