__pycache__
.DS_Store
.venv
env
node_modules
venv

creds
database
database_*


debug.py

*.aux
*.fdb_latexmk
*.fls
*.log
*.pyc
*.pyo
*.synctex.gz

.vim
.wiki

**pyplots**
media/wallpapers
*_backup.*
*_old.*
*_test.*

wallpapers
stocks.pdf
net_worth.pdf
search_history.db
*.png
*.pdf

main_precompute_directions.js
