*.aux
*.fdb_latexmk
*.fls
*.log
*.pyc
*.pyo
*.synctex.gz
.DS_Store
.vim
.wiki
__pycache__
creds
debug.py
node_modules
venv
env
.venv
**pyplots**
media/wallpapers
*_backup.*
*_old.*
*_test.*

wallpapers
stocks.pdf
net_worth.pdf
database
search_history.db
*.png
*.pdf

main_precompute_directions.js
