{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chronos.css') }}" type="text/css">
    <!-- <script src="https://momentjs.com/downloads/moment.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/node_modules/moment/moment.js') }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/node_modules/chartjs/chart.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>

{% endblock %}
{% block content %}

    <div class="section_title">Correlation Finder</div>

    <div class="section" id="section_correlation_matrix">
        <div class="correlation_matrix" id="correlation_matrix"
            style="display: grid; grid-template-columns: 
                repeat({{ props['nr of categories'] }}, 1fr);"
        >
        <script> // TODO: move into a file? (rewrite flask->js necessary)
            // get correlation matrix element from document
            corr_matrix = document.getElementById("correlation_matrix")
            // get categories
            var categories = []
            {% for category in props['categories'] %}
                categories.push("{{ category }}")
            {% endfor %}
            // define correlation matrix entries
            var corr;
            {% for k in props['correlations'].find() %}
                corr = {{k['correlation matrix']}};
            {% endfor %}
            for (let i = 0; i < {{props['nr of categories']}}; i++) {
                for (let j = 0; j < {{props['nr of categories']}}; j++) {
                    // create cell element
                    var cell = document.createElement('div')
                    cell.id = "correlation_matrix_cell_" + i + "_" + j
                    // add onclick method to display categories & correlation
                    cell.addEventListener('click', () => {
                        let cat_1 = categories[i];
                        let cat_2 = categories[j];
                        let correlation = corr[i][j]
                        console.log(cat_1, '-', cat_2, ': ', correlation)
                    })
                    // upper right of the matrix
                    if (i < j) {
                        cell.classList.add("correlation_matrix_cell_upper_right")
                        if (corr[i][j] < 0) {
                            cell.style.backgroundColor = "rgba(255, 0, 0, " + String(-corr[i][j]) + ")"
                        } else if (corr[i][j] == 0) {
                            // TODO: what to do here?
                        } else if (corr[i][j] > 0) {
                            cell.style.backgroundColor = "rgba(0, 255, 0, " + String(corr[i][j]) + ")"
                        }
                    // lower right of the matrix
                    } else if (i > j) {
                        cell.style.backgroundColor = '#222222'
                        cell.classList.add("correlation_matrix_cell_lower_left")
                        if (corr.length < 10) {
                            if (corr[j][i] > 0) {
                                cell.style.color = "green" // "rgba(255, 0, 0, " + String(-corr[{{i}}][{{j}}]) + ")"
                                cell.innerHTML = "<p>" + Math.round(100*corr[j][i])/100. + "</p>"
                            } else if (corr[j][i] < 0) {
                                cell.style.color = "red" // "rgba(255, 0, 0, " + String(corr[{{i}}][{{j}}]) + ")"
                                cell.innerHTML = "<p>" + Math.round(-100*corr[j][i])/100. + "</p>"
                            }
                        }         
                    // diagonal entries of the matrix
                    } else {
                        cell.classList.add("correlation_matrix_cell_diagonal")
                    }
                    // append cell to correlation matrix element
                    corr_matrix.appendChild(cell)
                }
            }
        </script>
        <!-- <div id="correlation_matrix_info_text"> -->
        <!--     aaaaaay -->
        <!-- </div> -->
    </div>
        <!-- <script> -->
        <!--     // const x = [1,2,3]; -->
        <!--     // const y = [1,2,3]; -->
        <!--     // const fig = new Bokeh.Plotting.Figure() -->
        <!--     // fig.line(x, y) -->
        <!--     // console.log(fig) -->
        <!--     // Bokeh.Plotting.show(fig) -->
        <!-- </script> -->
        <!-- corr matrix, on-hover info (x,y,corr,err) -->
    </div>
    <!-- <script type="module"> -->
    <!--     //import {MongoClient} from "{{url_for('static', filename='js/node_modules/mongodb/lib/mongo_client.js')}}"; -->
    <!--     // const MongoClient = require('mongodb').MongoClient; -->
    <!--     // const assert = require('assert'); -->
        
    <!--     // Connection URL -->
    <!--     // const url = 'mongodb://localhost:27017'; -->
        
    <!--     // Database Name -->
    <!--     // const dbName = 'myproject'; -->
    <!--     // const client = new MongoClient(url); -->
    <!--     // Use connect method to connect to the server -->
    <!--     // client.connect(function(err) { -->
    <!--     //   // assert.equal(null, err); -->
    <!--     //   console.log('Connected successfully to server'); -->
    <!--     // --> 
    <!--     //   const db = client.db(dbName); -->
    <!--     // --> 
    <!--     //   client.close(); -->
    <!--     // }); -->
    <!-- </script> -->

{% endblock %}
