{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}

{% endblock %}
{% block content %}

    <div class="section_title">
        Conway's game of life
    </div>

    <!-- <div class="section"> -->
        <div class="canvas_holder">
            <canvas id="canvas"></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/game_of_life.js') }}"></script>
        </div>
    <!-- </div> -->

    <div class="section">
        <div class="button_menu">
            <button class="button" id="button_toggle_pause">pause</button>
            <button class="button" id="button_reset">reset</button>
        </div>
    </div>

{% endblock %}
