{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}

{% endblock %}
{% block content %}

    <h4 class="section_title">
        rock-paper-scissors cellular automaton
    </h4>

    <!-- <div class="section"> -->
        <div class="canvas_holder">
            <canvas id="canvas"></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/rock_paper_scissors.js') }}"></script>
        </div>
    <!-- </div> -->

    <div class="section">
        <div class="button_menu">
            <button class="button" id="play/pause">pause</button>
            <button class="button" id="button_toggle_periodic_bounds">
                toggle periodic bounds
            </button>
            <button class="button" id="button_0">place rock</button>
            <button class="button" id="button_1">place paper</button>
            <button class="button" id="button_2">place scissors</button>
        </div>
    </div>

{% endblock %}
