{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}

{% endblock %}
{% block content %}

    <div class="section_title">
        3-body orbits - moon
    </div>

    <!-- <div class="section"> -->
        <div class="canvas_holder">
            <canvas id="canvas"></canvas>
            <script type="module" src="/static/js/comp_phys/n_body/3body_moon.js"> </script>
        </div>
    <!-- </div> -->

    <div class="section">
        <div class="button_menu">
            <button class="button" id="button_toggle_pause">
                pause
            </button>
            <button class="button" id="button_toggle_draw_tails">
                draw tails
            </button>
            <button class="button" id="button_toggle_draw_orbit">
                draw lunar orbit
            </button>
            <button class="button" id="button_toggle_draw_hill">
                draw Hill sphere
            </button>
        </div>

        <!-- <div class="latex"> -->
        <!--     Hill radius: -->
        <!--     $$r_H\approx a\cdot\sqrt{ \frac{m}{3M} }$$ -->
        <!-- </div> -->

    </div>

{% endblock %}
