<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funky!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body id="body1">
    <div id="div1">
    </div>
    <table>
        <tr>
        {% for idx in range(values_len - REST) %}
            <td style="height: 25px; width: 25px; background-color: blue; border: 1px solid black;">
                {{ idx }}
            </td>	
            {% if ((idx+1) % NR_OF_COLS == 0) and (idx+1) / NR_OF_COLS <= REST %}
                <td style="height: 25px; width: 25px; background-color: blue; border: 1px solid black;">
                    {{ idx }}
                </td>	
            {% endif %}
            {% if (idx + 1) % NR_OF_COLS == 0 and idx != 0 %}
                </tr>
                <tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>
