<html>
    <head>
        <title>Funky!</title>
    </head> 
    <body>
	<canvas id="solar_system"></canvas>
        <script>

            const planet = (r_x, r_y) => {
                this.mass = 1; 
                this.r_x = 400;
                this.r_y = 400;
                this.r = 20;
                this.update = () => {
                    if (rightPressed) {r_x += 10;}
                    if (leftPressed) {r_x -= 10;}
                    if (downPressed) {r_y += 10;}
                    if (upPressed) {r_y -= 10;}
                    //for (planet of planets) {
                    for (let i = 0; i < planets.length; i++) {
                        //alert(planets[i])
                        let a = 1
                    }
                    cc.beginPath();
                    cc.arc(r_x, r_y, r, 0, 2 * Math.PI, false)
                    cc.fillStyle = "red";
                    cc.fill();
                    cc.lineWidth = 8;
                    cc.strokeStyle = "orange";
                    cc.stroke();
                }
                return this;
            };

            // finding out when keys are pressed
            var rightPressed = false;
            var leftPressed = false;
            var upPressed = false;
            var downPressed = false;
            const keyDownHandler = (event) => {
                if (event.keyCode == 39) {rightPressed = true;
                } else if (event.keyCode == 37) {leftPressed = true;
                } else if (event.keyCode == 40) {downPressed = true;
                } else if (event.keyCode == 38) {upPressed = true;
                }
            };
            const keyUpHandler = (event) => {
                if (event.keyCode == 39) {rightPressed = false;
                } else if (event.keyCode == 37) {leftPressed = false;
                } else if (event.keyCode == 40) {downPressed = false;
                } else if (event.keyCode == 38) {upPressed = false;
                }
            };

            // const G = 1;
            const fps = 30;
            const dt = 1. / fps;
            // const t0 = 0;
            // var t = t0;
            var planets = [];
            var planet_Mars = planet(200, 200);
            var planet_Earth = planet(400, 400);
            ////alert(planet_Earth.r_x)
            planets.push(planet_Earth);
            planets.push(planet_Mars);
            // var my_ship = spaceship(200, 200, planets);

            window.onload = function () {

                c = document.getElementById("solar_system");
                c.width = 800;
                c.height = 500;


                cc = c.getContext("2d");
                setInterval(update, 1000 * dt);

                document.addEventListener('keydown', keyDownHandler, false)
                document.addEventListener('keyup', keyUpHandler, false)

            };
            function update() {
                // console.log('ay')
                // my_ship.update()
                for (pl of planets) {
                    pl.update()
                }
                cc.fillStyle = "black";
                cc.fillRect(0, 0, c.width, c.height);
            }
        </script>
</html>
