{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chronos.css') }}" type="text/css">
    <!-- <script src="https://momentjs.com/downloads/moment.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/node_modules/moment/moment.js') }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/node_modules/chartjs/chart.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>

{% endblock %}
{% block content %}

    <h4 class="section_title">Correlation Finder</h4>

    <div class="section">
        <div class="correlation_matrix" id="correlation_matrix"
            style="display: grid; grid-template-columns: 
                repeat({{ props['nr of categories'] }}, 1fr);"
        >
        <script>
            // get correlation matrix element from document
            corr_matrix = document.getElementById("correlation_matrix")
            // get categories
            var categories = []
            {% for category in props['categories'] %}
                categories.push("{{ category }}")
            {% endfor %}
            // define correlation matrix entries
            var corr;
            {% for k in props['correlations'].find() %}
                corr = {{k['correlation matrix']}};
            {% endfor %}
            for (let i = 0; i < {{props['nr of categories']}}; i++) {
                for (let j = 0; j < {{props['nr of categories']}}; j++) {
                    // create cell element
                    var cell = document.createElement('div')
                    cell.id = "correlation_matrix_cell_" + i + "_" + j
                    // add onclick method to display categories & correlation
                    cell.addEventListener('click', () => {
                        let cat_1 = categories[i];
                        let cat_2 = categories[j];
                        let correlation = corr[i][j]
                        console.log(cat_1, '-', cat_2, ': ', correlation)
                    })
                    // upper right of the matrix
                    if (i < j) {
                        cell.classList.add("correlation_matrix_cell_upper_right")
                        if (corr[i][j] < 0) {
                            cell.style.backgroundColor = "rgba(255, 0, 0, " + String(-corr[i][j]) + ")"
                        } else if (corr[i][j] == 0) {
                            // TODO: what to do here?
                        } else if (corr[i][j] > 0) {
                            cell.style.backgroundColor = "rgba(0, 255, 0, " + String(corr[i][j]) + ")"
                        }
                    // lower right of the matrix
                    } else if (i > j) {
                        cell.style.backgroundColor = '#222222'
                        cell.classList.add("correlation_matrix_cell_lower_left")
                        if (corr.length < 10) {
                            if (corr[j][i] > 0) {
                                cell.style.color = "green" // "rgba(255, 0, 0, " + String(-corr[{{i}}][{{j}}]) + ")"
                                cell.innerHTML = "<p>" + Math.round(100*corr[j][i])/100. + "</p>"
                            } else if (corr[j][i] < 0) {
                                cell.style.color = "red" // "rgba(255, 0, 0, " + String(corr[{{i}}][{{j}}]) + ")"
                                cell.innerHTML = "<p>" + Math.round(-100*corr[j][i])/100. + "</p>"
                            }
                        }         
                    // diagonal entries of the matrix
                    } else {
                        cell.classList.add("correlation_matrix_cell_diagonal")
                    }
                    // append cell to correlation matrix element
                    corr_matrix.appendChild(cell)
                }
            }
        </script>
    </div>
        <!-- <script> -->
        <!--     // const x = [1,2,3]; -->
        <!--     // const y = [1,2,3]; -->
        <!--     // const fig = new Bokeh.Plotting.Figure() -->
        <!--     // fig.line(x, y) -->
        <!--     // console.log(fig) -->
        <!--     // Bokeh.Plotting.show(fig) -->
        <!-- </script> -->
        <!-- corr matrix, on-hover info (x,y,corr,err) -->
    </div>
    <!-- <script type="module"> -->
    <!--     //import {MongoClient} from "{{url_for('static', filename='js/node_modules/mongodb/lib/mongo_client.js')}}"; -->
    <!--     // const MongoClient = require('mongodb').MongoClient; -->
    <!--     // const assert = require('assert'); -->
        
    <!--     // Connection URL -->
    <!--     // const url = 'mongodb://localhost:27017'; -->
        
    <!--     // Database Name -->
    <!--     // const dbName = 'myproject'; -->
    <!--     // const client = new MongoClient(url); -->
    <!--     // Use connect method to connect to the server -->
    <!--     // client.connect(function(err) { -->
    <!--     //   // assert.equal(null, err); -->
    <!--     //   console.log('Connected successfully to server'); -->
    <!--     // --> 
    <!--     //   const db = client.db(dbName); -->
    <!--     // --> 
    <!--     //   client.close(); -->
    <!--     // }); -->
    <!-- </script> -->

    <!-- x-t / y-t plot <br> -->
    <!-- x-y plot, corr -->
    <div class="section">
        <canvas class="canvas" id="canvas_time_series_plot"></canvas>
        <script type=module>
            import { init } from "{{ url_for('static', filename='js/chronos/time_series_plot.js') }}"
            const canvas_id = "canvas_time_series_plot"
            const canvas = document.getElementById(canvas_id);
            const ctx = canvas.getContext("2d");
            init(canvas, ctx)
        </script>
    </div>

    <div class="section"><ul>
        {% for k, v in props['section_hierarchy'].items() %}
            <li style="color: green">{{ k }}<ul>
            {% for k2, v2 in v.items() %}
                <li style="color: green">{{ k2 }}<ul>
                {% for k3 in v2['db_entry_keys'] %}
                    <li>
                    <button 
                        class="stealthy_button" style="color: white"
                        id="button_{{ k + '/' + k2 + '/' + k3 }}"
                    > {{ k3 }}
                    </button>
                    <script type="module">
                        import { update } from "{{ url_for('static', filename='js/chronos/time_series_plot.js') }}";

                        var x = [];
                        var y = [];
                        var dataset_is_empty = true;
                        let date, value
                        {% for ts in props['MDB'].find({
                            "category": k,
                            "subcategory": k2,
                            "title": k3,
                        }) %} // TODO: rules?
                            {% for idx in range(props['funcs']['len'](ts['dates'])) %}
                                date = new Date({{ts['timestamps'][idx]*1000}});
                                {% if ts['values'][idx] != None %}
                                    value = {{ts['values'][idx]}}
                                    dataset_is_empty = false;
                                    x.push(date)
                                    y.push(value)
                                {% endif %}

                            {% endfor %}
                        {% endfor %}
                          var y_mavg = []
                        if (true) { // TODO
                          // assert (x.length === y.length)
                          var N = 30
                          for (let idx=0; idx<x.length; idx++) {
                            y_mavg.push(0)
                            var count = 0
                            for (let jdx=0; jdx<Math.min(N, idx); jdx++) {
                              y_mavg[idx] += y[idx-jdx]
                              count++
                            }
                            y_mavg[idx] *= 100 / count 
                          }
                          x = x.slice(N, x.length)
                          y_mavg = y_mavg.slice(N, y.length)
                          // y.slice ?
                        }

                        const button = document.getElementById("button_{{ k + '/' + k2 + '/' + k3 }}");
                        if (!dataset_is_empty) button.style = "color: green"
                        button.addEventListener(
                            "click", 
                            () => {
                            update("{{k}}", "{{k2}}", "{{k3}}", x, y_mavg);
                            },
                            false
                        )
                    </script>
                    </li>
                {% endfor %}
                </ul></li>
            {% endfor %}
            </ul></li>
        {% endfor %}
    </ul></div>



<!--     {% for k, v in props['section_hierarchy'].items() %} -->
<!--         <div class="section"> -->
<!--         {% for k2, v2 in v.items() %} -->
<!--             {% for k3 in v2['db_entry_keys'] %} -->
<!--                 <canvas class="canvas" id="2{{ k + '/' + k2 + '/' + k3 }}"></canvas> -->
<!--                 <script type=module> -->
<!--                     import { main } from "{{ url_for('static', filename='js/chronos/time_series_plot.js') }}" -->
<!--                     const canvas_id = "2{{ k + '/' + k2 + '/' + k3 }}" -->
<!--                     const canvas = document.getElementById(canvas_id); -->
<!--                     const ctx = canvas.getContext("2d"); -->
<!--                     var x = [] -->
<!--                     var y = [] -->
<!--                     {% for i in props['MDB'][k][k2][k3].find() %} -->
<!--                         {% for j, k in props['zip'](i['date'], i[k3]) %} -->
<!--                             {% if k %} -->
<!--                                 x.push({{ j.timestamp() }}) -->
<!--                                 y.push({{ k }}) -->
<!--                             {% endif %} -->
<!--                         {% endfor %} -->
<!--                     {% endfor %} -->
<!--                     main(canvas, ctx, "{{k}}", "{{k2}}", "{{k3}}", x, y); -->
<!--                 </script> -->
<!--                 <br/> -->
<!--                 <br/> -->
<!--             {% endfor %} -->
<!--             <br/> -->
<!--         {% endfor %} -->
<!--         </div> -->
<!--     {% endfor %} -->

<!-- {% endblock %} -->
