{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chronos.css') }}" type="text/css">
    <!-- <script src="https://momentjs.com/downloads/moment.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/node_modules/moment/moment.js') }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/node_modules/chartjs/chart.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>

{% endblock %}
{% block content %}

    <h4 class="section_title">test</h4>

    <div class="section">
        hallllllllooooooooooooooooo
    </div>

{% endblock %}
