{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}

{% endblock %}
{% block content %}

    <h4 class="section_title">
        single pendulum  <!-- {{ props['title'] }} -->
    </h4>

    <!-- <div class="section"> -->
        <div class="canvas_holder">
            <canvas id="canvas"></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/single_pendulum.js') }}"></script>
        </div>
        <!-- <div class="latex">  <\!-- {{ props['description'] }} -\-> -->
        <!--     The period of swing of a simple gravity pendulum depends -->
        <!--     mainly on its length \(l\) and the local strength of  -->
        <!--     gravity \(g\approx9.81\frac{\textnormal{m}}{\textnormal{s}^2}\). -->
        <!--     The period is independent of the pendulum mass. -->
        <!--         $$T=2\pi\cdot\sqrt{\frac{l}{g} }$$ -->
        <!--     For small amplitudes, i.e. small maximum angles, -->
        <!--     the pendulum approximates a harmonical oscillator. -->
        <!-- </div> -->
    <!-- </div> -->

{% endblock %}
