{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

{% endblock %}
{% block content %}

    <h4 class="section_title">
        charge interaction (unstable)
    </h4>

    <!-- <div class="section"> -->
        <div class="canvas_holder">
            <canvas id="canvas"></canvas>
        </div>
    <!-- </div> -->

    <!-- <div class="section"> -->
    <!--     <div class="button_menu"> -->
    <!--         <div id="v0_display"></div> -->
    <!--         <input --> 
    <!--             type="range" --> 
    <!--             class="slider" id="slider_v0" -->
    <!--             min="0" max="10" value="0" --> 
    <!--         > -->
    <!--     </div> -->
    <!-- </div> -->

    <!-- <div class="section"> -->
        <div class="canvas_holder">
            <canvas id="canvas_chart"></canvas>
        </div>
    <!-- </div> -->

    <script type="module" src="{{ url_for('static', filename='js/comp_phys/electro_magnetism/charge_interaction.js') }}"></script>

{% endblock %}
