{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

{% endblock %}
{% block content %}

    <div class="section_title">
        diffusion
    </div>

    <!-- <div class="section"> -->
        <div class="canvas_holder">
            <canvas id="canvas"></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/fluid_dynamics/diffusion.js') }}"></script>
        </div>
    <!-- </div> -->

    <div class="section">
        <div class="button_menu">
            <button class="button" id="button_pause">pause</button>
            <button class="button" id="button_reset">reset</button>
            <button class="button" id="button_clear_dens">clear density</button>
            <input class="slider" id="slider_N"
                type="range" min="10" max="200" 
            >
        </div>
    </div>

    <div class="section">
        <div class="canvas_holder">
            <canvas id="canvas_chart"></canvas>
        </div>
    </div>

{% endblock %}
