<html>
    <head>
        <title>Funky!</title>
        <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js></script>
        <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css></script>
	<script>
	</script>
    </head> 
    <body>
	<canvas id="chart" width=200 height=200></canvas>
	<div id="container">
            <script>
                ctx = document.getElementById('chart') 

		data = {
                    datasets: [{
                    	data: [1, 9, 7],
			backgroundColor: ['red', 'green', 'blue'],
                    }], 
		}

		options = {
		    cutoutPercentage: 30,
		}

    	        function changeData() {
		    document.getElementById('container').innerHTML = 'lolol'
    	    	    data.datasets[0]['data'] = [4, 1, 9];
		    chart.update()
    	        }	
	

                var chart = new Chart(ctx, { type: 'pie', data: data, options: options })
            </script>
        </div>
	<button onclick="changeData()">change data</button>
    </body>
</html>
