{% extends "base/page_design_1.html" %}

{% block title %}
    Index
{% endblock %}
{% block head %}

    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">

{% endblock %}
{% block content %}

    {% for grid_items in nav_grid_sections %}
    <div class="section">
    <div class="nav_grid">
    {% for grid_item in grid_items %}
        <a class="nav_grid_cell" href="{{ grid_item['link'] }}">
            <div class="nav_grid_thumbnail_frame">
                <img class="nav_grid_thumbnail"
                    src="{{ 
                        url_for(
                            'static', 
                            filename='media/thumbnails/' + 
                            grid_item['id'] + '.png'
                        ) 
                    }}" 
                >
            </div>
        </a>
    {% endfor %}
    </div>
    </div>
    {% endfor %}

{% endblock %}
