<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funky!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gradient_colored_list.css') }}" type="text/css">
</head>
<body>
    <ul>
        <li>
            <a class="stealthyLink" href="tatooine">tatooine</a>
        </li>
        <li>
            <a class="stealthyLink" href="orbit">orbit</a>
        </li>
        <li>
            <a class="stealthyLink"  href="boltzmann">boltzmann</a>
        </li>
        <li>
            <a class="stealthyLink"  href="balls">balls</a>
        </li>
        <li>
            <a class="stealthyLink"  href="spaceship">spaceship</a>
        </li>
    </ul>
</body>
</html>
