{% extends "base/page_design_1.html" %}

{% block title %}
    Test 1
{% endblock %}

{% block head %}

    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>

  {{ script | safe }}

{% endblock %}
{% block content %}

    <div class="section">
    <h1>PyPlots</h1>
    <p class="important">Welcome on my awesooome homepage.</p>
    {% for i in images %}

        <!-- {% if i['filepath'].endswith('.pdf') %} -->
        <!--     <embed --> 
        <!--         width=100% --> 
        <!--         src={{ url_for('static', filename=i['filepath']) }} --> 
        <!--         type="application/pdf" -->
        <!--     /> -->
        <!-- {% else %} -->
            <img 
                width=100%
                src={{ url_for('static', filename=i['filepath']) }}
            />
        <!-- {% endif %} -->

    {% endfor %}
    </div>

{% endblock %}

