{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/react_frontend/css/comp_phys.css') }}" type="text/css">

{% endblock %}
{% block content %}

    <script type="module" src="{{ url_for('static', filename='js/various/draw.js') }}"></script>

    <h4 class="section_title">draw</h4>

    <div class="section">
        <div class="canvas_holder">
            <canvas id="canvas"></canvas>
        </div>
    </div>

    <script>
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
    </script>
    <div class="section">
        <div class="button_menu">
            <div onclick="ctx.fillStyle='black';" class="button" style="background-color:black;"></div>
            <div onclick="ctx.fillStyle='white';" class="button" style="background-color:white;"></div>
            <div onclick="ctx.fillStyle='red';" class="button" style="background-color:red;"></div>
            <div onclick="ctx.fillStyle='green';" class="button" style="background-color:green;"></div>
            <div onclick="ctx.fillStyle='yellow';" class="button" style="background-color:yellow;"></div>
            <div onclick="ctx.fillStyle='blue';" class="button" style="background-color:blue;"></div>
            <!-- <div onclick="ctx.fillStyle='brown';" class="button" style="background-color:brown;"></div> -->
            <!-- <div onclick="ctx.fillStyle='purple';" class="button" style="background-color:purple;"></div> -->
            <!-- <div onclick="ctx.fillStyle='pink';" class="button" style="background-color:pink;"></div> -->
            <!-- <div onclick="ctx.fillStyle='orange';" class="button" style="background-color:orange;"></div> -->
        </div> 
    </div>

{% endblock %}

