{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css">

{% endblock %}
{% block content %}

    <h2 class="section_title">
        gas in a box
    </h2>
    <div class="section">
        <div class="canvas_holder">
            <canvas class="canvas" id="gas_in_a_box_canvas" data-ys={{ props['ys']|tojson }}></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/gas_in_a_box.js') }}"></script>
        </div>
    </div>

    <h2 class="section_title">
        Brownian motion
    </h2>
    <div class="section">
        <div class="canvas_holder">
            <canvas class="canvas" id="brownian_motion_canvas" data-ys={{ props['ys']|tojson }}></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/gas_in_a_box.js') }}"></script>
        </div>
    </div>

{% endblock %}
