{% extends "base/page_design_1.html" %}

{% block title %}
    Index
{% endblock %}

{% block head %}

    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css">

{% endblock %}
{% block content %}

    <h2 class="section_title">
        double pendulum
    </h2>
    <div class="section">
        <div class="canvas_holder">
            <canvas id="double_pendulum_canvas" data-ys={{ props['ys']|tojson }}></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/double_pendulum.js') }}"></script>
        </div>
    </div>


    <h2 class="section_title">
        <!-- {{ props['title'] }} -->
        single pendulum
    </h2>
    <!-- <p>Welcome on my awesome homepage.</p> -->
    <div class="section">
        <!-- {{ props['description'] }} -->
        <div class="canvas_holder">
            <canvas id="single_pendulum_canvas"></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/single_pendulum.js') }}"></script>
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/comp_phys/a.js') }}"></script>

{% endblock %}
