{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css">

{% endblock %}
{% block content %}

    <h2 class="section_title">
      Monte Carlo Calculation of Pi
    </h2>
    <div class="section">
        <div class="canvas_holder">
            <canvas class="canvas" id="canvas"></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/mc_pi_darts.js') }}"></script>
        </div>
        <div id="textfield_pi"></div>
        <!-- <div class="button_menu"> -->
        <!--     <\!-- <p>Magnetic field strength:</p> -\-> -->
        <!--     <div id="Bfield_display"></div> -->
        <!--     <input  -->
        <!--         type="range"  -->
        <!--         class="slider" id="Bfield_slider" -->
        <!--         min="-10" max="10" value="0"  -->
        <!--     > -->
        <!-- </div> -->
    </div>

{% endblock %}
