{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css">

{% endblock %}
{% block content %}

    {% for sim in props['simulations'] %}

        <h2 class="section_title">
            {{ sim['sim_id'] }}
        </h2>
        <div class="section">
            <div class="canvas_holder">
                <canvas class="canvas" id="canvas_{{ sim['sim_idx'] }}" data-system_states={{ sim['system_states']|tojson }}></canvas>
                <script type="module">
                    import { init } from "{{ url_for('static', filename='js/comp_phys/n_body.js') }}";
                    init("canvas_{{ sim['sim_idx'] }}");
                </script>
            </div>
        </div>
    {% endfor %}
        <!-- <div class="button_menu"> -->
        <!--     <button class="button" id="restart"> -->
        <!--         restart -->
        <!--     </button> -->
        <!--     <button class="button" id="zoom_in"> -->
        <!--         zoom in -->
        <!--     </button> -->
        <!--     <button class="button" id="zoom_out"> -->
        <!--         zoom out -->
        <!--     </button> -->
    <!-- </div> -->

{% endblock %}
