{% extends "base/page_design_1.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% for grid_items in props['nav_grid_sections'] %}
        <div class="navgrid_section_title">
            {{ grid_items["title"] }}
        </div>
        <div id="section_navgrid">
            <div id="navgrid">
            {% for grid_item in grid_items['pages'] %}
                <a class="navgrid_cell" href="{{ grid_item['link'] }}">
                    <img class="navgrid_thumbnail"
                        src="{{ url_for('static', 
                            filename='media/thumbnails/' + 
                            grid_item['id'] + '.png'
                    )}}">
                    <!-- <div class="navgrid_thumbnail_title">{{ grid_item['title'] }}</div> -->
                </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

{% endblock %}
