<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funky!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body id="body1">
    <!-- <div id="div1"> -->
        <canvas id="heatmapPlot"></canvas>
        <script src="{{ url_for('static', filename='js/chart_test.js') }}"></script>
    <!-- </div> -->
<!-- <canvas id="myChart" width="400" height="400"></canvas> -->
</body>
</html>
