{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css">

{% endblock %}
{% block content %}

    <h4 class="section_title">
        Wien filter
    </h4>
    <div class="section">
        <div class="canvas_holder">
            <canvas id="canvas"></canvas>
            <script type="module" src="{{ url_for('static', filename='js/lorentz.js') }}"></script>
        </div>
    </div>

{% endblock %}
