{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css">

{% endblock %}
{% block content %}

    <h2 class="section_title">
        Tatooine
    </h2>
    <div class="section">
        <div class="canvas_holder">
            <canvas class="canvas" id="canvas"></canvas>
            <script src="{{ url_for('static', filename='js/tatooine.js') }}"></script>
        </div>
    </div>

{% endblock %}
