{% extends "sims/base" %}

{% block sim_script %}
    <script type="module" src="/static/js/comp_phys/gas_in_a_box/brownian_motion.js"> </script>
{% endblock sim_script %}

{% block content %}
    {{ super() }}

    <div class="section">
        <div class="canvas_holder">
            <canvas id="canvas_chart">
            </canvas>
        </div>
    </div>
{% endblock content %}
