{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/react_frontend/css/comp_phys.css') }}" type="text/css">

{% endblock %}
{% block content %}

    <h4 class="section_title">
        3-body orbits - Moon
    </h4>

    <div class="section">

        <div class="canvas_holder">
            <canvas class="canvas" id="canvas"></canvas>
            <script type=module>
                import { main } from "{{ url_for('static', filename='js/comp_phys/n_body/3body_moon.js') }}"
                // get canvas from unique canvas_name
                const canvas = document.getElementById("canvas");
                const ctx = canvas.getContext("2d");

                main(canvas, ctx);
            </script>
        </div>

        <div class="button_menu">
            <button class="button" id="button_toggle_pause">
                pause
            </button>
            <button class="button" id="button_toggle_draw_tails">
                draw tails
            </button>
            <button class="button" id="button_toggle_draw_orbit">
                draw lunar orbit
            </button>
            <button class="button" id="button_toggle_draw_hill">
                draw Hill sphere
            </button>
        </div>

        <!-- <div class="latex"> -->
        <!--     Hill radius: -->
        <!--     $$r_H\approx a\cdot\sqrt{ \frac{m}{3M} }$$ -->
        <!-- </div> -->

    </div>

{% endblock %}
