{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

{% endblock %}
{% block content %}

    <h4 class="section_title">
        asteroids around binary
    </h4>

    <div class="section">
        <div class="canvas_holder">
            <canvas id="canvas"></canvas>
        </div>
        <div class="button_menu">
            <button class="button" id="button_toggle_pause">
                pause
            </button>
            <button class="button" id="button_toggle_random_phi_distribution">
                toggle random phi distribution
            </button>
        </div>
    </div>

    <div class="section">
        <table class="button_menu_table">
            <tr>
                <td>belt min. r</td>
                <td><input 
                    class="slider" id="slider_belt_min_r"
                    type="range" min="50" max="450" step=1
                ></td>
            </tr>
            <tr>
                <td>belt width</td>
                <td><input 
                    class="slider" id="slider_belt_width"
                    type="range" min="0" max="500" step=1
                ></td>
            </tr>
            <tr>
                <td>density exp. drop-off</td>
                <td><input 
                    class="slider" id="slider_belt_exp_factor"
                    type="range" min="1" max="8" step=1
                > </td>
            </tr>
        </table>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/comp_phys/n_body/asteroids.js') }}"></script>

{% endblock %}

