{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}

{% endblock %}
{% block content %}

    <h4 class="section_title">
        symmetric satelite constellation
    </h4>
    <div class="section">
        <div class="canvas_holder">
            <canvas 
                id="canvas_n_body_flowers" 
            ></canvas>
            <script type=module>
                import { main } from "{{ url_for('static', filename='js/comp_phys/n_body/flowers.js') }}"
                // get canvas from unique canvas_name
                const canvas_id = 'canvas_n_body_flowers'
                const canvas = document.getElementById(canvas_id);
                const ctx = canvas.getContext("2d");

                main(canvas, ctx, canvas_id);
            </script>
        </div>
        <div class="button_menu">
            <button class="button" id="button_toggle_pause">
                pause
            </button>
            <button class="button" id="button_toggle_eccentricity">
                ecc. orbits
            </button>
        </div>
        <div class="button_menu">
            <div id="display_nr_of_planets"></div>
            <input class="slider" id="slider_nr_of_planets"
                type="range" min="1" max="100" 
            >
            <!-- <input --> 
            <!--     type="text" --> 
            <!--     value="4" --> 
            <!--     name="nr of bodies" --> 
            <!--     id="nr_of_bodies_textfield" -->
            <!-- /> -->
        </div>
    </div>

{% endblock %}
