/* BASE */
/* ========================================================================= */

body {
  background-color: black;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; /* -> scrolling */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  width: calc(100% - 14px);
  text-align: right;
}

#header_home {
  /* needed? */
  color: black;
  font-size: 20px;
  font-weight: 690;
  text-decoration: none;

  background-color: black;
  border: 0px;
  outline: none;
  cursor: pointer;

  /* margin-top: 50px; */
  /* height: 1em; */
  /* margin-top: 0.5em; */
  /* margin-bottom: 0.5em; */
  /* margin-right: 10px; */
  /* border: 1px solid green; */
}

#navbar {
}

#content {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
  /* height: 95%; */
  /* margin-top: 15px; */
  /* padding-top: 10px; */
  /* padding-bottom: 30px; */
  /* border: 1px solid green; */
}
@media only screen and (max-width: 1201px) {
  #content {
    width: 65%;
    padding-left: 17.5%;
    padding-right: 17.5%;
  }
}
@media only screen and (max-width: 751px) {
  #content {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.section {
  background-color: #222222;
  border-radius: 20px; /* if changed: also change for navgrid_section? */
  border: 3px solid #666666;
  margin-bottom: 25px;
  text-align: center;
}

.slider {
  outline: none;
}

/* INDEX */
/* ========================================================================= */

#section_navgrid {
  background-color: #222222;
  border-radius: 20px; /* if changed: also change for normal section? */
  border: 2px solid #666666;
  margin-bottom: 30px; /* if changed: also change for .section*/
}

#navgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; /* TODO: Kati fragen */
  padding-bottom: 10px;
  /* align-items: center; */
}
@media only screen and (max-width: 1201px) {
  #navgrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 751px) {
  #navgrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.navgrid_section_title {
  width: 100%;
  text-align: center;
  font-weight: 690;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section_title {
  width: 100%;
  text-align: center;
  font-weight: 690;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navgrid_cell {
  border: 0px;
  width: 100%;
  height: 100%;
  background-color: #222222;
  outline: none;
  position: relative;
  padding: 0px;
}

.navgrid_thumbnail_title {
  position: absolute;
  top: 20%;
  left: 20%;
  color: transparent;
}
.navgrid_thumbnail_title:hover {
  color: white;
}

.navgrid_thumbnail {
  outline: none;
  background-color: black;
  border: 2px solid #222222;
  border-radius: 30px;
  /* make square (with :after) */
  width: 86%;
  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%; /* left & right done autom. through align */
  margin-bottom: 7%;
  /* grayscale */
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /* transition (with :hover) */
  transition: border 0.35s, filter 0.35s, transform 0.35s ease-in-out;
}
.navgrid_thumbnail:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.navgrid_thumbnail:hover {
  border: 2px solid #666666;
  transform: scale(1.1);
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  cursor: pointer;
}
/* @media only screen and (max-width: 641px) { */
/*   .navgrid_thumbnail { */
/*     -webkit-filter: grayscale(0%); /1* Safari 6.0 - 9.0 *1/ */
/*     filter: grayscale(0%); */
/*   } */
/* } */

/* COMP PHYS / SIMULATIONS */
/* ========================================================================= */

.canvas_holder {
  /* border: 2px solid #666666; */
  border-radius: 20px;
  /* width: 94%; */
  margin-top: 3%;
  margin-bottom: 3%;
  /* margin-left: 3%; */
  /* margin-right: 3%; */
}

canvas {
  border: 3px solid #666666;
  background-color: black;
  border-radius: 20px; /* if changed: also change for navgrid_section? */
  /* overflow: hidden; */
  width: 100%;
}

/* OLD */
/* ========================================================================= */

/* .section { */
/*   background-color: "#222222"; */
/*   border-radius: "20px"; */

/*   display: "grid"; */
/*   grid-template-columns: repeat(3, 1fr); */

/*   margin-left: "20px"; */
/*   margin-right: "20px"; */
/*   margin-top: "20px"; */
/*   margin-bottom: "20px"; */
/*   /1* paddingLeft: "10px", *1/ */
/*   /1* paddingRight: "10px", *1/ */
/*   /1* paddingTop: "10px", // TODO: Kati fragen *1/ */
/*   /1* paddingBottom: "10px", *1/ */
/*   /1* textAlignVertical: "center", *1/ */
/*   /1* textAlign: "center", *1/ */
/* } */

/* p { */
/*   color: "white"; */
/*   text-align: "center"; */
/*   /1* fontSize: "22px", *1/ */
/*   /1* height: "1em", *1/ */
/*   /1* margin: "10px", *1/ */
/* } */

/* .thumbnail { */
/*   /1* height: "900%", *1/ */
/*   /1* width: "100px", *1/ */
/*   /1* margin: "10px", *1/ */
/*   /1* padding: "0px", *1/ */
/*   /1* height: 2 * window.height, *1/ */
/*   /1* width: "100%", *1/ */
/*   /1* height: "100%", *1/ */
/*   height: "100px"; */
/*   flex: 1; */
/*   background-color: "black"; */
/*   border-radius: "30px"; */
/*   border: "1px solid green"; */
/* } */
