{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css">

{% endblock %}
{% block content %}

    <h4 class="section_title">
        Cellular Automata - Rock Paper Scissors
    </h4>
    <div class="section">
        <div class="canvas_holder">
            <canvas class="canvas" id="canvas"></canvas>
            <script type="module" src="{{ url_for('static', filename='js/comp_phys/rock_paper_scissors.js') }}"></script>
        </div>
        <div class="button_menu">
            <button class="button" id="play/pause">Pause</button>
            <button class="button" id="button_toggle_periodic_bounds">
                Toggle periodic bounds
            </button>
            <button class="button" id="button_0">Place rock</button>
            <button class="button" id="button_1">Place paper</button>
            <button class="button" id="button_2">Place scissors</button>
        </div>
    </div>

{% endblock %}
