{% extends "base/page_design_1.html" %}

{% block head %}

    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comp_phys.css') }}" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

{% endblock %}
{% block content %}

    <h4 class="section_title">
        Ants
    </h4>
    <div class="section">
        <div class="canvas_holder">
            <canvas class="canvas" id="canvas"></canvas>
        </div>
        <div class="button_menu">
            <button class="button" id="button_play/pause">Pause</button>
            <button class="button" id="button_reset">Reset</button>
        <!-- </div> -->
        <!-- <div class="button_menu"> -->
            <button class="button" id="button_place_food">Place food</button>
            <button class="button" id="button_place_walls">Place Walls</button>
            <button class="button" id="button_remove_walls">Remove Walls</button>
        <!-- </div> -->
        <!-- <div class="button_menu"> -->
            <button class="button" id="button_place_phA">Place pheromone A</button>
            <button class="button" id="button_place_phB">Place pheromone B</button>
            <button class="button" id="button_draw_pheromones">Draw/Hide pheromone</button>
            <button class="button" id="button_periodic_bounds">Toggle periodic bounds</button>
        </div>
        <div class="button_menu">
            <input 
                type="range" 
                class="slider" id="slider_evaporation_factor_A"
                min="0" max="1000" value="980" 
            >
        </div>
        <div class="button_menu">
            <input 
                type="range" 
                class="slider" id="slider_evaporation_factor_B"
                min="0" max="1000" value="980" 
            >
        </div>
        <div class="button_menu">
            <input 
                class="slider" id="slider_colony_size"
                type="range" min="1" max="7500" value="20000" step=1
            >
        </div>
    </div>
    <!-- <div class="section"> -->
    <!--     <div class="canvas_holder"> -->
            <!-- <canvas class="canvas" id="canvas"></canvas> -->
        <!-- </div> -->
    <!-- </div> -->
    <script type="module" src="{{ url_for('static', filename='js/comp_phys/monte_carlo/ants/main.js') }}"></script>

{% endblock %}

